<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="latitude">Latitude</label>
        <div class="controls">
            {{view Ember.TextField valueBinding="latitude"}}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="latitude">Longitude</label>
        <div class="controls">
            {{view Ember.TextField valueBinding="longitude"}}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="accuracy">Accuracy</label>
        <div class="controls">
            {{view Ember.TextField valueBinding="accuracy"}}
        </div>
    </div>
</form>
