<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>登录</title>
 	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/libs/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" media="screen">
    <link href='/stylesheets/style.css' rel='stylesheet'/>
</head>
<body>
	<form action="/users/login" method="post">
		<div>
			<input class="form-control" type="text" name="username" />	
		</div>
		<div>
			<input class="form-control" type="text" name="password" />	
		</div>
		<div><input class="btn btn-primary" type="submit" value="登录"></div>
	</form>
    <script src="/libs/jquery/jquery-1.10.2.min.js"></script>
    <script src="/libs/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>