<form>
    <div class="form-group">
        <label for="about">about.card</label>
        <div class="controls">
            {{view Ember.TextField valueBinding="about.card" class="form-control" }}
        </div>
    </div>
    <div class="form-group">
        <label for="desc">about.desc</label>
        <div class="controls">
            {{view Ember.TextField valueBinding="about.desc" class="form-control" }}
        </div>
    </div>
    <hr />
    <div class="form-group">
        <label for="username">username</label>
        <div class="controls">
            {{view Ember.TextField valueBinding="username" class="form-control" }}
        </div>
    </div>
    <div class="form-group">
        <label for="hashpwd">hashpwd</label>
        <div class="controls">
            {{view Ember.TextField valueBinding="hashpwd" class="form-control"}}
        </div>
    </div>
    <div class="form-group">
        <label for="sex">sex</label>
        <div class="controls">
            {{view Ember.TextField valueBinding="sex" class="form-control"}}
        </div>
    </div>
    <div class="form-group">
        <label for="email">email</label>
        <div class="controls">
            {{view Ember.TextField valueBinding="email" class="form-control"}}
        </div>
    </div>
    <div class="form-group">
        <label for="phone">phone</label>
        <div class="controls">
            {{view Ember.TextField valueBinding="phone" class="form-control"}}
        </div>
    </div>
    <div>
         <button {{action addEmptyAddress this}} class="btn btn-primary">
            AddAddress
        </button>
    </div>
    <div>
        {{render 'user/address_form' this}}
    </div>
</form>
