<form>
    <div class="form-group">
        <label for="username">username</label>
        <div class="controls">
            {{view Ember.TextField valueBinding="username" class="form-control" }}
        </div>
    </div>
    <div class="form-group">
        <label for="hashpwd">hashpwd</label>
        <div class="controls">
            {{view Ember.TextField valueBinding="hashpwd" class="form-control"}}
        </div>
    </div>
    <div class="form-group">
        <label for="sex">sex</label>
        <div class="controls">
            {{view Ember.TextField valueBinding="sex" class="form-control"}}
        </div>
    </div>
    <div class="form-group">
        <label for="email">email</label>
        <div class="controls">
            {{view Ember.TextField valueBinding="email" class="form-control"}}
        </div>
    </div>
    <div class="form-group">
        <label for="phone">phone</label>
        <div class="controls">
            {{view Ember.TextField valueBinding="phone" class="form-control"}}
        </div>
    </div>
</form>
